/* global settings */
* {
  font-size: 14px;
  border: 0px solid transparent;
  border-radius: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

/* cross-module styles */
.modules-left,
.modules-center,
.modules-right {
  margin: 0px 10px;
}

.modules-right {
  padding-left: 10px;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: alpha(@base05, 0.3);
}

/*---------------------------------------------------------------------------*/
/* Left Modules                                                              */
/*---------------------------------------------------------------------------*/

#workspaces,
#mode,
#scratchpad {
  margin: 0px 0px;
}

#mode,
#scratchpad {
  margin-left: 20px;
  padding: 0px 5px;
  border-radius: 4px;
  background-color: @base0A;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* --- Workspaces --- */
#workspaces button {
  padding: 0px 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#workspaces button.active,
#workspaces button.focused {
  background-color: @base02;
}

#workspaces button.urgent {
  background-color: @base0E;
  font-weight: bold;
}

/*---------------------------------------------------------------------------*/
/* Center Modules                                                            */
/*---------------------------------------------------------------------------*/

#window {
  padding: 0px 20px;
}

window#waybar.empty {
  background-color: alpha(@base00, 0.01);
}

window#waybar.solo #window,
window#waybar.floating #window,
window#waybar.tiled #window,
window#waybar.stacked #window,
window#waybar.tabbed #window {
  padding-left: 5px;
  padding-right: 5px;
}

/*---------------------------------------------------------------------------*/
/* Right Modules                                                             */
/*---------------------------------------------------------------------------*/

#image.album-art,
#mpris,
#pulseaudio,
#tray,
#clock {
  margin: 0px 5px;
}

#mpris,
#pulseaudio,
#clock {
  padding: 0px 0px;
  margin-bottom: 0px;
}

/* --- MPRIS --- */
#mpris {
  padding-right: 5px;
}

/* --- PulseAudio --- */
#pulseaudio {
  padding-right: 10px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: alpha(@base05, 0.3);
}

#pulseaudio.muted {
  padding-right: 10px;
  padding-left: 0px;
  opacity: 0.3;
  border-color: alpha(@base05, 1);
}

/* --- Tray --- */
#tray {
  padding: 0px 10px;
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: alpha(@base05, 0.3);
}

#tray>.passive {
  opacity: 0.4;
}

#tray>.active {
  opacity: 1.0;
}

#tray>.needs-attention {
  background-color: @base0E;
  color: @base00;
}

/* --- Clock --- */
#clock {
  font-weight: normal;
}

#image.album-art {
  margin: 0px;
}